In [2]:
import pandas as pd

In [11]:
import numpy as np

In [14]:
!pip install wquantiles

Collecting wquantiles
  Downloading wquantiles-0.6-py3-none-any.whl (3.3 kB)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.7/dist-packages (from wquantiles) (1.21.5)
Installing collected packages: wquantiles
Successfully installed wquantiles-0.6

In [15]:
from scipy.stats import trim_mean
import wquantiles

In [3]:
state = pd.read_csv('state.csv')

In [4]:
state

             State  Population  Murder.Rate Abbreviation
0          Alabama     4779736          5.7           AL
1           Alaska      710231          5.6           AK
2          Arizona     6392017          4.7           AZ
3         Arkansas     2915918          5.6           AR
4       California    37253956          4.4           CA
5         Colorado     5029196          2.8           CO
6      Connecticut     3574097          2.4           CT
7         Delaware      897934          5.8           DE
8          Florida    18801310          5.8           FL
9          Georgia     9687653          5.7           GA
10          Hawaii     1360301          1.8           HI
11           Idaho     1567582          2.0           ID
12        Illinois    12830632          5.3           IL
13         Indiana     6483802          5.0           IN
14            Iowa     3046355          1.9           IA
15          Kansas     2853118          3.1           KS
16        Kentucky     4339367          3.6           KY
17       Louisiana     4533372         10.3           LA
18           Maine     1328361          1.6           ME
19        Maryland     5773552          6.1           MD
20   Massachusetts     6547629          2.0           MA
21        Michigan     9883640          5.4           MI
22       Minnesota     5303925          1.6           MN
23     Mississippi     2967297          8.6           MS
24        Missouri     5988927          6.6           MO
25         Montana      989415          3.6           MT
26        Nebraska     1826341          2.9           NE
27          Nevada     2700551          6.0           NV
28   New Hampshire     1316470          0.9           NH
29      New Jersey     8791894          3.9           NJ
30      New Mexico     2059179          4.8           NM
31        New York    19378102          3.1           NY
32  North Carolina     9535483          5.1           NC
33    North Dakota      672591          3.0           ND
34            Ohio    11536504          4.0           OH
35        Oklahoma     3751351          4.5           OK
36          Oregon     3831074          2.0           OR
37    Pennsylvania    12702379          4.8           PA
38    Rhode Island     1052567          2.4           RI
39  South Carolina     4625364          6.4           SC
40    South Dakota      814180          2.3           SD
41       Tennessee     6346105          5.7           TN
42           Texas    25145561          4.4           TX
43            Utah     2763885          2.3           UT
44         Vermont      625741          1.6           VT
45        Virginia     8001024          4.1           VA
46      Washington     6724540          2.5           WA
47   West Virginia     1852994          4.0           WV
48       Wisconsin     5686986          2.9           WI
49         Wyoming      563626          2.7           WY

In [5]:
state['Population'].mean()

6162876.3

In [9]:
trim_mean(state['Population'], 0.1)

4783697.125

In [10]:
state['Population'].median()

4436369.5

In [17]:
np.average(state['Murder.Rate'], weights=state['Population'])

4.445833981123393

In [18]:
wquantiles.median(state['Murder.Rate'], weights=state['Population'])

4.4

- 가장 기본적인 위치 추정 기법은 평균이다. 하지만 극단값(특잇값)에 민감할 수 있다.
- 중간값, 절사평균과 같은 다른 방법들이 특잇값이나 이상 데이터에 덜 민감하므로 좀 더 로버스트하다.

용어정리
- 편차(deviation) : 관측값과 위치 추정값 사이의 차이(유이어 : 오차, 잔차)
- 분산(variation) : 평균과의 편차를 제곱한 값들의 합을 n-1로 나눈 값. n은 데이터 개수(유의어 : 평균제곱오차)
- 표준편차(stadard deviation) : 분산의 제곱근
- 평균절대편차(mean absolute deviation) : 평균과의 편차의 절댓값의 평균
- 중간값의 중위절대편차(MAD, median absolute deviation from the median) : 중간값과의 편차의 절댓값의 중간값
- 범위(range) : 데이터의 최댓값과 최솟값의 차이
- 순서통계량(order statistics) : 최소에서 최대까지 정렬된 데이터 값에 따른 계량형(유의어: 순위)
- 백분위수(percentile) : 어떤 값들의 P퍼센트가 이 값 혹은 더 작은 값을 갖고, (100-P)퍼센트가 이 값 혹은 더 큰 값을 갖도록 하는 값(유의어 : 분위수)
- 사분위범위(IQR, interquartile rante) : 75번째 백분위수와 25번째 백분위수 사이의 차이